.form-row{
    display: flex;
    padding: 10px;
    width: 90%;
}

@media only screen and (min-width: 900px){
    .form-row{
        width: 75%;
    }
}

.form-row label{
    flex: 1;
}

.form-row input{
    flex: 1;
    font-family: inherit;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
}

.form-row input:focus{
    outline: none;
    border: 1px solid black;
}
