html,body{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./images/bg.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* color: #f1f1f1; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    text-shadow: black 1px 1px 1px;
}

/* @media only screen and (min-width: 985px){
    body{
        background-image: url(./images/bodybg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }    
} */

.App{
    display: flex;
    margin-top: 100px;
}

.logo{
    border-radius: 50%;
    
}

/* @media only screen and (min-width: 700px){
    .logo{
        border-radius: 50%;
    }
} */

/* 
.sidebar{
    flex: 1;
} */

.main-section{
    /* background-image: url('./images/bg-sec.jpg');
    padding-bottom: 60px; */
    flex: 1;
    align-content: center;
    margin: auto;
}